<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<form th:object="${account}" th:action="@{save}"  method="post" class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend>Cadastro do Usuário</legend>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="idNome">Nome</label>
			<div class="col-md-5">
				<input id="idNome" th:field="*{name}"  type="text" placeholder="Nome do usuaário" class="form-control input-md" required="" />

			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="idNome">Email</label>
			<div class="col-md-5">
				<input id="idNome" th:field="*{email}"  type="text" placeholder="Email" class="form-control input-md" required="" />

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="idDepto">Cidade</label>
			<div class="col-md-5">
				<input id="idDepto"  th:field="*{city}"  type="text" placeholder="Cidade" class="form-control input-md" required="" />

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="idUsuario">Usuário</label>
			<div class="col-md-5">
				<input id="idUsuario"  th:field="*{user}" type="text" placeholder="Login do usuario" class="form-control input-md" required="" />

			</div>
		</div>

		<!-- Password input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="idSenha">Senha</label>
			<div class="col-md-5">
				<input id="idSenha"  th:field="*{password}" type="password" placeholder="Digite a senha" class="form-control input-md" required="" />

			</div>
		</div>



		<!-- Button (Double) -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="idConfirmar"></label>
			<div class="col-md-8">
				<button id="idConfirmar" name="idConfirmar" class="btn btn-primary">confirmar</button>
				<button id="idCancelar" name="idCancelar" class="btn btn-danger">Cancelar</button>
			</div>
		</div>

	</fieldset>
</form>
</body>
</html>